spring:
  application:
    name: canteen-system
  datasource:
    url: jdbc:postgresql://postgres.cpsuquyaup3o.eu-west-2.rds.amazonaws.com:5432/postgres
    driverClassName: org.postgresql.Driver
    username: postgres
    password: postgres
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
server:
  address: 0.0.0.0
  port: 8080

